body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(to right, #1e3c72, #2a5298);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Login Box */
.login-container {
    background: white;
    padding: 25px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

/* Heading */
h2 {
    text-align: center;
}

/* Labels */
form label {
    display: block;
    margin-top: 10px;
}

/* Inputs */
form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

/* Button */
button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background: #2a5298;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Extra */
.extra {
    text-align: center;
    margin-top: 10px;
}


