 /* html, body{
    height: 100%;
    margin: 0;
}



body {
    font-family: Arial;
    background: #f4f6f9;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
}


.main-content {
    flex: 1;
} */

*{margin:0;padding:0;box-sizing:border-box;font-family:'Poppins',sans-serif;}
body{background:#f1f5f9;display:flex;}

.sidebar{
    width:220px;
    height:100vh;
    background:#0f172a;
    color:white;
    padding:20px;
}
.sidebar h2{margin-bottom:30px;}
.sidebar ul{list-style:none;}
.sidebar ul li{
    padding:12px;
    margin:10px 0;
    cursor:pointer;
    border-radius:8px;
}
.sidebar ul li:hover{background:#1e293b;}

.main{flex:1;padding:20px;}

.topbar{
    display:flex;
    justify-content:space-between;
    margin-bottom:20px;
}

.card-box{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.card{
    background:white;
    padding:20px;
    border-radius:15px;
    box-shadow:0 4px 10px rgba(0,0,0,0.05);
}

.status{
    padding:8px 15px;
    border-radius:20px;
    display:inline-block;
    margin-top:10px;
}
.pending{background:#fef3c7;color:#92400e;}
.approved{background:#dcfce7;color:#166534;}
.rejected{background:#fee2e2;color:#991b1b;}

button{
    padding:10px 15px;
    border:none;
    border-radius:8px;
    background:#3b82f6;
    color:white;
    cursor:pointer;
    margin-top:10px;
}


/* Footer */

footer {
    margin-top: auto;
    background: #2c5d8a;
    color: white;
    text-align: center;
    padding: 10px;
} 


